@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900&display=swap"');
@keyframes slide_up {
  0% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

input {
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: none;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  min-width: 1136px;
  position: relative;
}
.wrapper .inner {
  margin: 0 auto;
  max-width: 1224px;
}
.wrapper.mobile {
  min-width: 320px;
}
.wrapper.mobile .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.wrapper.mobile .inner {
  padding: 0 21px;
  width: 100%;
}

.mobile .headline {
  position: static;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  width: auto;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  color: #111111;
  line-height: 18px;
  clip: auto;
}
.mobile .headline::after {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/sp_arrow_nav.png") no-repeat;
  background-position: 2px -372px;
  content: "";
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
#skip a {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ccc;
  color: #000;
  transform: translateY(-100%);
}
#skip a:focus, #skip a:active {
  transform: translateY(0);
}

.dimmed {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: none;
}
.dimmed.is_active {
  display: block;
}

.chat_bot {
  position: fixed;
  right: 29px;
  bottom: 11px;
  width: 70px;
  height: 88px;
  background: url("../images/sp_chatbot.png") no-repeat;
  cursor: pointer;
  background-position: -280px -880px;
  z-index: 1;
}
.chat_bot.is_hidden {
  display: none;
}
.chat_bot .chat_bot_btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border: 0;
  width: 70px;
  height: 88px;
  background: url("../images/sp_chatbot.png") no-repeat;
  background-position: -280px -880px;
}
.chat_bot .chat_bot_close_btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 2px;
  line-height: 0;
  z-index: 2;
  background: url("../images/btn_chatbot_close.png") no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
}

.app_link_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 50px;
  background: #2090ff;
}
.mobile .app_link_wrap {
  display: none;
}
.app_link_wrap.is_hidden {
  height: 0;
  visibility: hidden;
  animation-name: slide_up;
  animation-duration: 0.2s;
}
.app_link_wrap .app_link_area {
  display: flex;
}
.app_link_wrap .app_link {
  font-size: 16px;
  color: #ffffff;
}
.app_link_wrap .app_link.google, .app_link_wrap .app_link.apple {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  margin-right: 4px;
  border-radius: 22px;
  background: #1065d9;
  font-size: 12px;
  line-height: 12px;
}
.app_link_wrap .app_link.google::before, .app_link_wrap .app_link.apple::before {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-size: contain;
  content: "";
}
.app_link_wrap .app_link.google::before {
  background-image: url("../images/ico_google_store.png");
}
.app_link_wrap .app_link.apple::before {
  background-image: url("../images/ico_apple_store.png");
}
.app_link_wrap .app_link_banner_close_button {
  position: absolute;
  right: 24px;
  width: 20px;
  height: 20px;
  background: url("../images/btn_banner_close.png") no-repeat;
  background-size: cover;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 162px;
  background: #fff;
  transition: top 0.1s;
}
.header.js_scrolling {
  top: 0;
}
.header .inner {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header .menu_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
}
.header .menu_wrap .main_link::before {
  width: 158px;
  height: 22px;
  display: block;
  background: url("../images/img_logo.png") no-repeat center/contain;
  content: "";
}
.header .menu_wrap .menu_list {
  display: flex;
  gap: 73px;
  font-size: 20px;
  color: #111;
}
.header .menu_wrap .menu_item {
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.header .menu_wrap .menu_item:hover {
  position: relative;
  color: #0080ff;
}
.header .menu_wrap .menu_item:hover::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2090ff;
  content: "";
}
.header .util_area {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.header .util_area .app_down_link {
  display: none;
}
.header .util_area .util_btn {
  width: 20px;
  height: 20px;
}
.header .util_area .search_btn[aria-expanded=true],
.header .util_area .menu_btn[aria-expanded=true] {
  background: url("../images/btn_close.png") no-repeat center/contain;
}
.header .util_area .search_btn {
  background: url("../images/btn_search.png") no-repeat center/contain;
}
.header .util_area .menu_btn {
  background: url("../images/btn_burger_bar.png") no-repeat center/contain;
}
.header .business_auth_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: -1;
  width: 100%;
  height: 88px;
  font-size: 14px;
  color: #666;
}
.mobile .header .business_auth_wrap {
  display: none;
}
.header .business_list,
.header .auth_area {
  display: flex;
  align-items: center;
}
.header .business_list .link_item,
.header .auth_area .link_item {
  display: flex;
  align-items: center;
  letter-spacing: -1px;
}
.header .business_list .link_item:hover,
.header .auth_area .link_item:hover {
  color: #0080ff;
}
.header .business_list .link_item + .link_item::before,
.header .auth_area .link_item + .link_item::before {
  display: block;
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background-color: #e2e5eb;
  content: "";
}
.header .pc_nav {
  display: none;
}
.header .pc_nav.is_show {
  display: block;
}
.header .pc_nav .inner {
  flex-direction: row;
  height: 735px;
  background: #fff;
}
.header .pc_nav .inner .nav_tab_list {
  width: 270px;
  height: 100%;
  padding-top: 60px;
  background-color: #f3f5f8;
}
.header .pc_nav .inner .nav_tab_item {
  height: 62px;
}
.header .pc_nav .inner .nav_tab_title {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 15px;
  font-size: 24px;
  color: #0b0d0f;
}
.header .pc_nav .inner .nav_tab_title[aria-selected=true] {
  font-weight: bold;
  color: #fff;
  background-color: #2e81f8;
}
.header .pc_nav .inner .nav_list_wrap {
  flex: 1;
}
.header .pc_nav .inner .nav_list_box {
  display: none;
  flex-wrap: wrap;
  flex: 1;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 46px;
  padding: 80px 63px 0;
}
.header .pc_nav .inner .nav_list_box.is_show {
  display: flex;
}
.header .pc_nav .inner .nav_list {
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
}
.header .pc_nav .inner .nav_list.is_show .sub_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
}
.header .pc_nav .inner .nav_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 268px;
  font-size: 18px;
  line-height: 20px;
}
.header .pc_nav .inner .nav_item_title {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding-bottom: 13px;
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
}
.header .pc_nav .inner .nav_item_title::after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  width: 16px;
  height: 10px;
  background: url("../images/ico_arrow.png") no-repeat;
  content: "";
}
.header .pc_nav .inner .nav_item_title[aria-pressed=true]::after {
  transform: rotate(0deg);
}
.header .pc_nav .inner .nav_item_title:hover::after {
  background: url("../images/ico_arrow_active.png") no-repeat;
}
.header .pc_nav .inner .nav_item_title.item_link {
  display: flex;
  align-items: center;
}
.header .pc_nav .inner .nav_item_title.item_link::after {
  height: 16px;
  transform: none;
  background: url("../images/sp_arrow_nav.png") no-repeat scroll 0 -354px rgba(0, 0, 0, 0);
  content: "";
}
.header .pc_nav .inner .nav_item_title.qna:hover {
  color: #2e81f8;
}
.header .pc_nav .inner .sub_list {
  display: none;
}
.header .pc_nav .inner .sub_item:hover {
  color: #2e81f8;
}
.header .pc_nav .inner .sub.item_link {
  gap: 10px;
}
.header .pc_nav .inner .favorite_menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #f3f5f8;
  padding: 60px 20px;
}
.header .pc_nav .inner .favorite_menu .title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #202020;
  line-height: 21px;
}
.header .pc_nav .inner .favorite_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header .pc_nav .inner .favorite_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
.header .pc_nav .inner .favorite_item::after {
  display: block;
  width: 7px;
  height: 12px;
  background: url("../images/ico_arrow_favorites.png") no-repeat;
  content: "";
}
.header .pc_nav .inner .app_direct_link {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.header .pc_nav .inner .app_direct_link::before {
  display: block;
  width: 155px;
  height: 211px;
  background: url("../images/img_app_direct.png") no-repeat;
  background-size: cover;
  content: "";
}
.header .search_chatbot_area {
  display: none;
}
.mobile .header .search_chatbot_area {
  display: none;
}
.header .search_chatbot_area.is_show {
  display: block;
}
.header .search_chatbot_area .search_area {
  padding: 48px 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #d0d0d0;
  background: #fff;
}
.header .search_chatbot_area .search_area .input_box {
  position: relative;
  max-width: 696px;
  height: 64px;
  margin: 0 auto;
  border-bottom: 2px solid #2b2e38;
}
.header .search_chatbot_area .search_area .input_box .input_clear_btn,
.header .search_chatbot_area .search_area .input_box .input_search_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header .search_chatbot_area .search_area .input_box .input_clear_btn {
  display: none;
  right: 30px;
  width: 20px;
  height: 20px;
  background: url("../images/btn_close.png") no-repeat center/contain;
}
.header .search_chatbot_area .search_area .input_box .input_search_button {
  right: 0;
  width: 22px;
  height: 22px;
  background: url("../images/btn_search.png") no-repeat;
  background-size: cover;
}
.header .search_chatbot_area .search_area .input {
  display: block;
  width: calc(100% - 64px);
  padding-right: 30px;
  background: transparent;
  font-size: 22px;
  color: #7b7e86;
  line-height: 64px;
}
.header .search_chatbot_area .search_area .input::-moz-placeholder {
  font-size: 22px;
  color: #7b7e86;
  letter-spacing: -1px;
}
.header .search_chatbot_area .search_area .input::placeholder {
  font-size: 22px;
  color: #7b7e86;
  letter-spacing: -1px;
}
.header .search_chatbot_area .search_area .input[aria-invalid=false] + .input_clear_btn {
  display: block;
  margin-right: 10px;
}
.header .search_chatbot_area .chatbot_area {
  background: #f2f4f7;
}
.header .search_chatbot_area .chatbot_area .inner {
  flex-direction: row;
  align-items: center;
  gap: 47px;
  max-width: 696px;
  padding: 55px 60px 75px;
}
.header .search_chatbot_area .chatbot_area .chatbot_link {
  padding-right: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #0079ea;
}
.header .search_chatbot_area .chatbot_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}
.header .search_chatbot_area .tag_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
}
.header .search_chatbot_area .tag_item {
  padding: 4px 10px;
  border: 1px solid #d3d5da;
  border-radius: 30px;
  letter-spacing: -1px;
}
.header .mo_gnb {
  display: none;
}
.mobile .header .mo_gnb {
  overflow-y: auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: all 0.3s;
}
.mobile .header .mo_gnb.is_show {
  transform: none;
}
.mobile .header .mo_gnb .inner {
  padding-bottom: 56px;
}
.mobile .header .mo_gnb .headline {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #111111;
  line-height: 22px;
}
.mobile .header .mo_gnb .headline .card_info_link {
  display: flex;
  gap: 4px;
  align-items: center;
}
.mobile .header .mo_gnb .headline .card_info_link::after {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/sp_arrow_nav.png") no-repeat;
  background-position: 2px -372px;
  content: "";
}
.mobile .header .mo_gnb .headline::after {
  display: none;
}
.mobile .header .mo_gnb .app_link_area {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  padding-top: 72px;
  border-bottom: 1px solid #e2e5eb;
}
.mobile .header .mo_gnb .app_link_area .title {
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  line-height: 18px;
}
.mobile .header .mo_gnb .app_link_area .title_desc {
  font-size: 14px;
  color: #2090ff;
}
.mobile .header .mo_gnb .app_link_area::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 101px;
  height: 97px;
  background: url("../images/img_character2-mobile.png") no-repeat center/cover;
  content: "";
}
.mobile .header .mo_gnb .section_service {
  padding-top: 42px;
}
.mobile .header .mo_gnb .section_service:first-of-type .title {
  margin-bottom: 0;
}
.mobile .header .mo_gnb .section_service:last-of-type {
  padding: 24px 0 42px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
}
.mobile .header .mo_gnb .section_service:last-of-type .app_area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile .header .mo_gnb .section_service:last-of-type .app_link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mobile .header .mo_gnb .section_service:last-of-type .image_box {
  width: 42px;
  height: 42px;
}
.mobile .header .mo_gnb .section_service:last-of-type .image_box img {
  width: 100%;
  height: 100%;
}
.mobile .header .mo_gnb .section_service:last-of-type .title {
  margin-bottom: 0;
  font-size: 16px;
}
.mobile .header .mo_gnb .section_service:last-of-type .desc {
  font-size: 14px;
  color: #666666;
  line-height: 16px;
}
.mobile .header .mo_gnb .section_service .service_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  padding: 24px 16px;
  border-radius: 12px;
  background: #f4f6fb;
}
.mobile .header .mo_gnb .section_service .service_item {
  width: 50%;
  font-size: 16px;
  color: #111111;
}
.mobile .header .mo_gnb .chat_bot_link {
  margin: 42px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  width: 100%;
  border-radius: 20px;
  background: #e5efff;
  font-size: 14px;
  color: #1065d9;
}
.mobile .header .mo_gnb .chat_bot_link::before {
  display: block;
  width: 37px;
  height: 40px;
  background: url("../images/img_chatbot-mobile.png") no-repeat;
  background-size: cover;
  content: "";
}
.mobile .header .mo_gnb .business_area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 16px 0;
}
.mobile .header .mo_gnb .business_area .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0;
}
.mobile .header .mo_gnb .business_area .business_link {
  font-size: 14px;
  color: #111111;
  display: flex;
  align-items: center;
}
.mobile .header .mo_gnb .business_area .business_link + a::before {
  display: block;
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background-color: #e2e5eb;
  content: "";
}
.mobile .header .mo_gnb .mo_gnb_close_btn {
  position: absolute;
  top: 26px;
  right: 21px;
  width: 20px;
  height: 20px;
  background: url("../images/btn_close.png") no-repeat;
  background-size: cover;
}
.mobile .header {
  height: 45px;
}
.mobile .header .menu_wrap {
  overflow: hidden;
  align-items: center;
  height: 45px;
  padding: 0;
}
.mobile .header .menu_wrap .main_link::before {
  width: 115px;
  height: 16px;
  background: url("../images/img_logo-mobile.png") no-repeat center/cover;
}
.mobile .header .menu_list {
  display: none;
}
.mobile .header .app_down_link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px 3px;
  border-radius: 28px;
  background: #2090ff;
  font-size: 12px;
  color: #ffffff;
  line-height: 12px;
  transform: translateY(200%);
  transition: 0.1s;
}
.mobile .header .app_down_link.is_show {
  transform: translateY(0%);
}
.mobile .header .search_btn {
  display: none;
}

.footer {
  position: relative;
  z-index: 1;
  padding: 37px 0;
  margin-top: 50px;
  background-color: #f3f5f8;
  font-size: 14px;
  color: #2b2e38;
}
.mobile .footer {
  margin-top: 52px;
  padding: 11px 0 0;
  background-color: rgb(221, 222, 227);
  color: #575b63;
}
.mobile .footer .inner {
  display: none;
}
.footer .title,
.footer .important_text {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.footer .title::after,
.footer .important_text::after {
  display: block;
  width: 1px;
  height: 12px;
  margin: 0 6px;
  background: #c7cad0;
  content: "";
}
.footer .section_ars {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
}
.footer .section_ars .ars_list {
  display: flex;
  gap: 5px;
}
.footer .info_list,
.footer .policy_list {
  display: flex;
}
.mobile .footer .info_list,
.mobile .footer .policy_list {
  border-bottom: 1px solid #d3d5da;
  padding-top: 12px;
}
.footer .info_list {
  gap: 8px;
}
.mobile .footer .info_list {
  flex-wrap: wrap;
  padding-bottom: 12px;
}
.footer .info_item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mobile .footer .info_item::after {
  display: block;
  width: 1px;
  height: 12px;
  background: #c7cad0;
  margin: 0 6px;
  content: "";
}
.footer .policy_list {
  align-items: center;
}
.mobile .footer .policy_list {
  position: relative;
  padding-bottom: 12px;
}
.footer .address_area {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 770px;
  padding-top: 17px;
  letter-spacing: -1px;
}
.footer .sales_email::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -2px 5px 0;
  background: url("../images/ico_help.png") no-repeat 0 center;
  vertical-align: middle;
  content: "";
}
.mobile .footer .family_site_area {
  display: none;
}
.footer .company_info_family_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 5px;
}
.footer .company_info_family_wrap .family_site_area {
  position: relative;
  width: 182px;
  height: 29px;
  padding: 0 11px;
  border: 1px solid #808789;
  background: #fff;
}
.footer .company_info_family_wrap .family_site_area .family_site_area_title {
  position: relative;
  width: 100%;
  font-weight: bold;
  text-align: left;
  color: #7b7e86;
  line-height: 29px;
}
.footer .company_info_family_wrap .family_site_area .family_site_area_title::after {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 14px;
  height: 9px;
  margin: 0;
  background: url("../images/sp_arrow_select.png") no-repeat 0 -11px transparent;
  transform: translateY(-50%);
  content: "";
}
.footer .company_info_family_wrap .family_site_area .family_site_area_title[aria-pressed=true]::after {
  background-position: 0 0;
}
.footer .company_info_family_wrap .family_list {
  overflow-y: scroll;
  position: absolute;
  left: -1px;
  bottom: 0;
  z-index: 1;
  width: 182px;
  height: 225px;
  transform: translateY(-27px);
  border: 1px solid #808789;
  border-bottom: 1px solid #b8b8b8;
  background: #fff;
  opacity: 0;
  visibility: hidden;
}
.footer .company_info_family_wrap .family_item {
  padding: 5px 0 5px 10px;
  font-size: 12px;
  color: #686868;
}
.footer .company_info_family_wrap .family_item:hover {
  background: #ececec;
}
.footer .company_info_family_wrap .link_family {
  display: block;
  height: 100%;
}
.footer .company_info_area-mobile,
.footer .company_policies_area-mobile,
.footer .award_area-mobile {
  display: none;
}
.mobile .footer .company_info_area-mobile,
.mobile .footer .company_policies_area-mobile,
.mobile .footer .award_area-mobile {
  display: block;
  background-color: #e9ebef;
}
.mobile .footer .company_info_area-mobile .inner,
.mobile .footer .company_policies_area-mobile .inner,
.mobile .footer .award_area-mobile .inner {
  display: block;
}
.mobile .footer .company_info_area-mobile {
  border-top: 1px solid #d3d5da;
}
.footer .company_policies_area {
  display: flex;
  align-items: center;
  gap: 120px;
}
.footer .company_policies_area .link_company_info {
  display: flex;
  align-items: center;
}
.footer .company_policies_area .link_company_info::after {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background: url("../images/sp_arrow_company_info.png") no-repeat 0 -23px/cover;
  content: "";
}
.mobile .footer .company_policies_area-mobile .inner {
  position: relative;
}
.mobile .footer .company_policies_area-mobile .policy_item_title::after {
  display: block;
  width: 10.5px;
  height: 6.5px;
  background: url("../images/sp_arrow_company_info.png") no-repeat 0 -6px/10.5px 25px;
  content: "";
}
.mobile .footer .company_policies_area-mobile .policy_item_title[aria-pressed=true]::after {
  background-position: 0 0;
}
.mobile .footer .company_policies_area-mobile .policy_item_title[aria-pressed=true] + .address_area {
  height: 155px;
  visibility: visible;
}
.mobile .footer .company_policies_area-mobile .address_area {
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  padding: 0;
  transition: height ease-out 0.3s;
  visibility: hidden;
}
.mobile .footer .company_policies_area-mobile .address_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  padding-top: 12px;
}
.mobile .footer .company_policies_area-mobile .address_item {
  display: flex;
  color: #575b63;
  line-height: 1.3;
}
.mobile .footer .company_policies_area-mobile .category {
  min-width: 124px;
}
.mobile .footer .company_policies_area-mobile .desc {
  display: flex;
}
.mobile .footer .company_policies_area-mobile .ars_link {
  position: absolute;
  top: 12px;
  right: 21px;
  display: flex;
  align-self: baseline;
  gap: 3px;
}
.mobile .footer .company_policies_area-mobile .ars_link .desc {
  font-size: 13px;
}
.footer .company_policies_area-mobile + .logo_wrap {
  display: none;
}
.footer .company-policy-area-mobile + .logo-wrap {
  display: none;
}
.footer .logo_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile .footer .logo_wrap {
  display: flex;
  padding-top: 12px;
  background-color: #e9ebef;
}
.mobile .footer .logo_wrap .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #d3d5da;
}
.mobile .footer .logo_wrap .logo {
  width: 70px;
  height: 24px;
  background-size: cover;
}
.footer .logo_wrap .copy {
  display: flex;
  align-items: center;
  color: #7b7e86;
}
.footer .logo_wrap .logo {
  width: 97px;
  height: 43px;
  background: url("../images/img_logo_footer.png") no-repeat center;
}
.footer .award_area .content {
  position: relative;
  width: 720px;
  padding: 0 40px;
}
.footer .award_area .award_link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.footer .award_area .text_box {
  margin-left: 10px;
  font-size: 11px;
  color: #747474;
  line-height: 16px;
  letter-spacing: -1px;
}
.footer .award_area .slide_btn {
  position: absolute;
  top: 50%;
  width: 21px;
  z-index: 1;
  height: 21px;
  transform: translateY(-50%);
}
.footer .award_area .slide_btn_prev {
  left: 0;
  background: url("../images/sp_arrow_slide.png") no-repeat -43px -40px;
}
.footer .award_area .slide_btn_next {
  right: 0;
  background: url("../images/sp_arrow_slide.png") no-repeat -84px -40px;
}
.mobile .footer .award_area-mobile {
  padding: 12px 0 120px;
}
.mobile .footer .award_area-mobile .award_area {
  overflow: scroll;
}
.mobile .footer .award_area-mobile .award_area .award_list {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-bottom: 15px;
}
.mobile .footer .award_area-mobile .image_box {
  width: 27px;
}
.mobile .footer .award_area-mobile .text_box {
  margin-left: 8px;
  font-size: 13px;
  color: #666666;
  line-height: 1.3;
}

main > * + * {
  margin-top: 24px;
}

.container {
  padding-top: 50px;
}
.container .title {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
}
.mobile .container {
  padding-top: 45px;
}
.mobile .container .title {
  font-size: 24px;
}

.control_area {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}
.control_area .pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #dcdcdc;
  opacity: 1;
  margin: 3px;
}
.control_area .pagination .swiper-pagination-bullet-active {
  width: 16px;
  border-radius: 9.6px;
  background: #ffffff;
}
.control_area .checkbox + label.pause {
  width: 12px;
  height: 6px;
  margin-top: -2px;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-left: 5px solid #fff;
  cursor: pointer;
}
.control_area .checkbox:checked + label {
  width: 6px;
  height: 6px;
  border-color: #dcdcdc;
  border-style: double;
  border-width: 0 0 0 6px;
  cursor: pointer;
}

.promotion_login_wrap {
  display: flex;
  justify-content: space-between;
  height: 462px;
}
.mobile .promotion_login_wrap {
  height: auto;
}

.promotion_slide_area {
  width: 66%;
}
.promotion_slide_area .swiper-slide .image_box {
  position: relative;
  padding-bottom: 57.1171171171%;
}
.mobile .promotion_slide_area .swiper-slide .image_box {
  padding-bottom: 75.4768392371%;
}
.promotion_slide_area .swiper-slide .image_box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.promotion_slide_area .swiper-slide:nth-child(3) .text-box {
  color: #000;
}
.promotion_slide_area .swiper-slide .text_box {
  position: absolute;
  top: 60px;
  left: 52px;
  max-width: 365px;
  color: #fff;
}
.promotion_slide_area .swiper-slide .title {
  font-size: 36px;
  color: #fff;
  line-height: 1.33;
}
.promotion_slide_area .swiper-slide .desc {
  margin-top: 10px;
  font-size: 16px;
  line-height: 18px;
}
.promotion_slide_area .control_area {
  gap: 5px;
  bottom: 53px;
  left: 52px;
}
.promotion_slide_area .control_area .pagination.swiper-pagination-horizontal {
  width: auto;
}
.mobile .promotion_slide_area {
  width: 100%;
}
.mobile .promotion_slide_area .swiper-slide .text_box {
  top: 31px;
  left: 24px;
  max-width: 250px;
}
.mobile .promotion_slide_area .swiper-slide .title {
  font-size: 24px;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.mobile .promotion_slide_area .swiper-slide .desc {
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.mobile .promotion_slide_area .control_area {
  left: 24px;
}

.section_login {
  width: 32%;
  padding: 24px 17px;
  border: 1px solid #e2e5eb;
  border-radius: 16px;
}
.mobile .section_login {
  display: none;
}
.section_login .login_tab_list {
  display: flex;
  border-bottom: 1px solid #e2e5eb;
  font-size: 14px;
  color: #666;
}
.section_login .login_tab_item {
  display: flex;
  justify-content: center;
  width: 25%;
  line-height: 48px;
}
.section_login .login_tab_item:hover {
  background: #ddd;
}
.section_login .login_tab_title {
  width: 100%;
}
.section_login .login_tab_title[aria-selected=true] {
  border-bottom: 2px solid #111;
  font-weight: bold;
  color: #000;
}
.section_login .login_contents {
  padding: 30px 17px 0 17px;
}
.section_login .login_contents .content {
  display: none;
}
.section_login .login_contents .content.is_show {
  display: block;
}
.section_login .login_contents .icon_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_login .login_contents .icon_box::before {
  display: block;
  width: 48px;
  height: 48px;
  content: "";
}
.section_login .login_contents .icon_box .desc {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
}
.section_login .login_contents #card .icon_box::before {
  background: url("../images/ico_auth_app_card.png") center/contain;
}
.section_login .login_contents #card .desc {
  padding: 15px 0 26px;
}
.section_login .login_contents #id {
  padding-bottom: 16px;
}
.section_login .login_contents #id .fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section_login .login_contents #id .input {
  width: 100%;
  height: 52.5px;
  padding-left: 20px;
  padding-bottom: 0;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 14px;
  color: #686868;
}
.section_login .login_contents #id .id_area {
  position: relative;
}
.section_login .login_contents #id .id_area .remember_id {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.section_login .login_contents #id .id_area .remember_id .remember_id_desc {
  font-size: 14px;
  letter-spacing: -1px;
}
.section_login .login_contents #id .id_area .remember_id .remember_id_checkbox + label {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background: url("../images/sp_btn_form.png") no-repeat -50px 0;
}
.section_login .login_contents #id .id_area .remember_id .remember_id_checkbox + label + .remember_id_desc {
  color: #888;
}
.section_login .login_contents #id .id_area .remember_id .remember_id_checkbox:checked + label {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  background: url("../images/sp_btn_form.png") no-repeat 0px 0;
}
.section_login .login_contents #id .id_area .remember_id .remember_id_checkbox:checked + label + .remember_id_desc {
  color: #0080ff;
}
.section_login .login_contents #id .password_area {
  position: relative;
}
.section_login .login_contents #id .password_area a::before {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background: url("../images/ico_auth_mouse.png") no-repeat center/cover;
  content: "";
}
.section_login .login_contents #cert_finance,
.section_login .login_contents #cert_public {
  padding-top: 12px;
}
.section_login .login_contents #cert_finance .desc,
.section_login .login_contents #cert_public .desc {
  padding: 15px 0 38px;
}
.section_login .login_contents #cert_finance .icon_box::before {
  background: url("../images/ico_auth_financial_cert.png") center/contain;
}
.section_login .login_contents #cert_public {
  padding-top: 12px;
}
.section_login .login_contents #cert_public .icon_box::before {
  background: url("../images/ico_auth_common_cert.png") center/contain;
}
.section_login .login_contents .login_btn {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background: #2090ff;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  letter-spacing: -1px;
  line-height: 52px;
}
.section_login .login_contents .login_btn:hover {
  background: #1065d9;
}
.section_login .content_util {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 22px;
  border-bottom: 1px solid #e2e5eb;
}
.section_login .content_util_link {
  font-size: 14px;
  color: #666;
}
.section_login .payment_area {
  padding-top: 24px;
}
.section_login .payment_list {
  display: flex;
  justify-content: space-between;
}
.section_login .payment_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  color: #111111;
}
.section_login .payment_item:before {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
}
.section_login .payment_item:not(:last-child)::after {
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 1px;
  height: 12px;
  background: #e2e5db;
  content: "";
}
.section_login .payment_item.receipt::before {
  background: url("../images/ico_auth_payment_receipt.png") no-repeat center/contain;
}
.section_login .payment_item.history::before {
  background: url("../images/ico_auth_payment_history.png") no-repeat center/contain;
}
.section_login .payment_item.direct::before {
  background: url("../images/ico_auth_payment_direct.png") no-repeat center/contain;
}
.section_login .payment_item.split::before {
  background: url("../images/ico_auth_payment_split.png") no-repeat center/contain;
}

.section_cards {
  position: relative;
  padding: 25px;
  margin-top: 41px;
  border: 1px solid #e2e5eb;
  border-radius: 16px;
}
.section_cards .headline {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.section_cards .card_tab_list {
  display: flex;
  align-items: center;
}
.section_cards .card_tab_item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #888;
  line-height: 18px;
}
.section_cards .card_tab_item + .card_tab_item::before {
  display: block;
  width: 1px;
  height: 12px;
  margin: 0 12px;
  background: #e2e5db;
  content: "";
}
.section_cards .card_tab_title[aria-selected=true] {
  color: #111111;
}
.section_cards .card_contents .content {
  display: none;
  position: relative;
  padding: 0 45px 10px;
  margin-top: 50px;
}
.section_cards .card_contents .content.is_show {
  display: block;
}
.section_cards .card_contents .content .swiper {
  max-height: 329px;
  padding-top: 32px;
}
.section_cards .card_contents .content#mobile {
  display: none;
}
.section_cards .card_item_link {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.section_cards .card_item_link .image_area {
  position: relative;
  width: 100%;
  max-width: 120px;
}
.section_cards .card_item_link .image_area .hover_overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  font-size: 12px;
  color: #fff;
  line-height: 12px;
  opacity: 0;
  transition: 0.4s;
}
.section_cards .card_item_link .image_area .hover_overlay::before {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/ico_card_link.png") no-repeat;
  background-size: cover;
  content: "";
}
.section_cards .card_item_link .image_area:hover .hover_overlay {
  background-color: rgb(153, 153, 153);
  opacity: 0.8;
}
.section_cards .card_item_link .image_box {
  position: relative;
  top: 0;
  padding-bottom: 159.3333333333%;
}
.section_cards .card_item_link .image_box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.section_cards .card_item_link .badge {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  padding: 4px 8px 4px;
  border-radius: 28px;
  background-color: #ff3289;
  font-size: 12px;
  color: #fff;
  line-height: 12px;
}
.section_cards .card_item_link .text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.section_cards .card_item_link .text_box .title {
  font-size: 16px;
  font-weight: normal;
  min-height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.mobile .section_cards .card_item_link .text_box .title {
  font-weight: bold;
}
.section_cards .card_item_link .text_box .desc {
  font-size: 14px;
  text-align: center;
  color: #666;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section_cards .slide_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 32px;
  height: 32px;
}
.section_cards .personal_card_btn_prev,
.section_cards .corporate_card_btn_prev {
  left: 15px;
  background: url("../images/sp_arrow_nav.png") no-repeat;
  background-position: -65px -35px;
}
.section_cards .personal_card_btn_prev.swiper-button-disabled,
.section_cards .corporate_card_btn_prev.swiper-button-disabled {
  opacity: 0.3;
}
.section_cards .personal_card_btn_next,
.section_cards .corporate_card_btn_next {
  right: 15px;
  background: url("../images/sp_arrow_nav.png") no-repeat;
  background-position: -35px -35px;
}
.section_cards .personal_card_btn_next.swiper-button-disabled,
.section_cards .corporate_card_btn_next.swiper-button-disabled {
  opacity: 0.3;
}
.section_cards .more_list {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 18px;
  right: 25px;
}
.section_cards .more_item {
  background: #f4f6fb;
  border-radius: 16px;
}
.section_cards .more_item .more_link {
  display: block;
  padding: 9px 19px;
  font-size: 14px;
  color: #111;
  line-height: 16px;
}
.section_cards .more_item:hover {
  background: #dbe2f3;
}
.section_cards .more_item:last-child {
  display: none;
}
.mobile .section_cards {
  margin-top: 52px;
  border: 0;
  padding: 0;
}
.mobile .section_cards .headline {
  position: static;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  width: auto;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  color: #111111;
  line-height: 18px;
  clip: auto;
}
.mobile .section_cards .headline::after {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/sp_arrow_nav.png") no-repeat;
  background-position: 2px -372px;
  content: "";
}
.mobile .section_cards .card_tab_list {
  display: none;
}
.mobile .section_cards .card_contents .content.is_show {
  display: none;
}
.mobile .section_cards .card_contents .content .swiper {
  max-width: none;
  padding-top: 0;
}
.mobile .section_cards .card_contents .content#mobile {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}
.mobile .section_cards .swiper-slide {
  width: 142px !important;
}
.mobile .section_cards .card_item_link {
  align-items: flex-start;
}
.mobile .section_cards .card_item_link .image_area {
  max-width: 90px;
}
.mobile .section_cards .card_item_link .badge {
  width: -moz-fit-content;
  width: fit-content;
  left: auto;
  bottom: auto;
  transform: none;
  margin-top: 16px;
}
.mobile .section_cards .text_box {
  align-items: flex-start;
  margin-top: 44px;
}
.mobile .section_cards .text_box .desc {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.mobile .section_cards .more_list {
  top: -7px;
  right: 0;
}
.mobile .section_cards .more_item:last-child {
  display: block;
}
.mobile .section_cards .more_item:not(.more_item:last-child) {
  display: none;
}

.mobile .promotion_wrap,
.mobile .event_benefit_wrap,
.mobile .board_area {
  display: none;
}

.promotion_wrap {
  display: flex;
  margin-top: 24px;
  gap: 20px;
}
.promotion_wrap .promotion_finance,
.promotion_wrap .promotion_shopping {
  flex: 1;
  padding: 32px 24px;
  border-radius: 16px;
}
.promotion_wrap .promotion_finance .promotion_link,
.promotion_wrap .promotion_shopping .promotion_link {
  display: block;
  height: 100%;
}
.promotion_wrap .promotion_finance .headline,
.promotion_wrap .promotion_shopping .headline {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #111;
}
.promotion_wrap .promotion_finance .headline::after,
.promotion_wrap .promotion_shopping .headline::after {
  width: 20px;
  height: 20px;
  background: url("../images/sp_arrow_nav.png") no-repeat;
  margin-left: 5px;
  background-position: 0px -373px;
  content: "";
}
.promotion_wrap .promotion_finance .title,
.promotion_wrap .promotion_shopping .title {
  display: block;
  margin-top: 16px;
  white-space: pre-line;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.promotion_wrap .promotion_finance .desc,
.promotion_wrap .promotion_shopping .desc {
  margin-top: 8px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.promotion_wrap .promotion_finance {
  background: url("../images/img_calculator.png") no-repeat #dcf2fe;
  background-size: 35% 100%;
  background-position: right 0;
}
.promotion_wrap .promotion_shopping {
  border: 1px solid #e2e5eb;
}
.promotion_wrap .promotion_shopping .promotion_link {
  display: flex;
}
.promotion_wrap .promotion_shopping .text_box {
  display: flex;
  flex-direction: column;
  max-width: 330px;
}
.promotion_wrap .promotion_shopping .text_box .title {
  display: flex;
  align-items: center;
  max-height: 52px;
}
.promotion_wrap .promotion_shopping .text_box .title .time {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #2090ff;
}
.promotion_wrap .promotion_shopping .text_box .title .time::before {
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-radius: 50%;
  background: #0080ff;
  content: "";
}
.promotion_wrap .promotion_shopping .text_box .desc {
  color: #111;
}
.promotion_wrap .promotion_shopping .text_box .badge_area {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}
.promotion_wrap .promotion_shopping .text_box .badge_area .badge {
  display: flex;
  align-items: center;
}
.promotion_wrap .promotion_shopping .text_box .badge_area .badge + .badge::before {
  display: block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  background: #e2e5db;
  content: "";
}
.promotion_wrap .promotion_shopping .text_box .price {
  display: flex;
  margin-top: auto;
  font-size: 24px;
  font-weight: bold;
  color: #111111;
  line-height: 1;
}
.promotion_wrap .promotion_shopping .image_area {
  margin-left: auto;
  max-width: 190px;
  width: 100%;
}
.promotion_wrap .promotion_shopping .image_box {
  position: relative;
  padding-bottom: 112.5%;
}
.promotion_wrap .promotion_shopping .image_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event_benefit_wrap {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}
.event_benefit_wrap .section_ongoing_event {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 0 0 808px;
}
.event_benefit_wrap .section_ongoing_event .event_list {
  display: flex;
  gap: 20px;
}
.event_benefit_wrap .section_ongoing_event .event_item {
  flex: 1;
}
.event_benefit_wrap .section_ongoing_event .event_link {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: #f3f6fb;
}
.event_benefit_wrap .section_ongoing_event .event_link .image_box {
  position: relative;
  width: 100%;
  padding-bottom: 93.75%;
}
.event_benefit_wrap .section_ongoing_event .event_link .image_box img {
  position: absolute;
  top: 0;
  width: 100%;
}
.event_benefit_wrap .section_ongoing_event .event_link .text_box {
  width: 100%;
  padding: 24px 35px 36px 35px;
  text-align: center;
}
.event_benefit_wrap .section_ongoing_event .event_link .text_box .title {
  font-size: 16px;
  line-height: 20px;
}
.event_benefit_wrap .section_ongoing_event .event_link .text_box .time {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}
.event_benefit_wrap .section_ongoing_event .more_event_link {
  display: block;
  width: 100%;
  padding: 13px 14px 12px;
  border-radius: 12px;
  border: 1px solid #f4f6fb;
  background: #f4f6fb;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
}
.event_benefit_wrap .section_ongoing_event .more_event_link:hover {
  background: #dbe2f3;
}
.event_benefit_wrap .section_benefit {
  flex: 0 0 392px;
}
.event_benefit_wrap .section_benefit .benefit_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.event_benefit_wrap .section_benefit .game::after {
  background-image: url("../images/img_event_item4.png");
}
.event_benefit_wrap .section_benefit .regular_payment::after {
  background-image: url("../images/img_event_item5.png");
}
.event_benefit_wrap .section_benefit .car::after {
  background-image: url("../images/img_event_item6.png");
}
.event_benefit_wrap .section_benefit .insurance::after {
  background-image: url("../images/img_event_item7.png");
}
.event_benefit_wrap .section_benefit .benefit_item {
  position: relative;
  height: 208px;
  padding: 32px 24px;
  border-radius: 16px;
  background-color: #f3f6fb;
}
.event_benefit_wrap .section_benefit .benefit_item::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
.event_benefit_wrap .section_benefit .benefit_link {
  display: flex;
  align-items: center;
}
.event_benefit_wrap .section_benefit .text_box {
  position: relative;
  z-index: 1;
  max-width: 200px;
}
.event_benefit_wrap .section_benefit .category {
  padding: 4px 8px 3px;
  border-radius: 28px;
  background-color: #111111;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 12px;
}
.event_benefit_wrap .section_benefit .title {
  overflow: hidden;
  max-height: 52px;
  margin: 16px 0 10px;
  line-height: 26px;
}
.event_benefit_wrap .section_benefit .desc {
  color: #666;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.board_area {
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 24px;
}

.section_notice,
.section_support,
.section_customer_protect {
  width: calc((100% - 50px) / 3);
  height: 162px;
  padding: 32px 24px;
  border: 1px solid #e2e5eb;
  border-radius: 12px;
}
.section_notice .title,
.section_support .title,
.section_customer_protect .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.section_notice .title::after,
.section_support .title::after,
.section_customer_protect .title::after {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url("../images/sp_arrow_nav.png") no-repeat;
  background-position: 0px -373px;
  content: "";
}
.section_notice .desc,
.section_support .desc,
.section_customer_protect .desc {
  margin-bottom: 5px;
}

.section_notice .desc {
  overflow: hidden;
  max-width: 340px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section_notice .date {
  font-size: 14px;
  color: #666;
}

.section_support {
  margin-left: 25px;
  margin-right: 25px;
}
.section_support .support_list {
  display: flex;
  margin-top: 25px;
}
.section_support .support_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 10px;
  position: relative;
}
.section_support .support_item:not(:last-child) a:after {
  position: absolute;
  right: 0;
  bottom: 7px;
  width: 1px;
  height: 13px;
  background: #e2e5db;
  content: "";
}
.section_support .support_item::before {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
}
.section_support .support_item.question::before {
  background: url("../images/ico_support_faq.png") no-repeat center/contain;
}
.section_support .support_item.email::before {
  background: url("../images/ico_support_email.png") no-repeat center/contain;
}
.section_support .support_item.tel::before {
  background: url("../images/ico_support_phone.png") no-repeat center/contain;
}

.section_customer_protect .customer_protect_link {
  display: block;
  width: calc(100% - 120px);
  height: 100%;
}
.section_customer_protect .swiper {
  height: 100%;
}
.section_customer_protect .swiper-slide {
  display: flex;
  justify-content: space-between;
}
.section_customer_protect .title {
  margin-bottom: 0;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section_customer_protect .desc {
  color: #666666;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section_customer_protect .alert:after,
.section_customer_protect .customer_protect:after,
.section_customer_protect .customer_protect_fine:after {
  display: block;
  width: 120px;
  height: 120px;
  content: "";
}
.section_customer_protect .alert:after {
  background: url("../images/img_protect_alert.png") no-repeat center/cover;
}
.section_customer_protect .customer_protect:after {
  background: url("../images/img_protect_lock.png") no-repeat center/cover;
}
.section_customer_protect .customer_protect_fine:after {
  background: url("../images/img_proterct_ffs.png") no-repeat center/cover;
}
.section_customer_protect .control_area {
  gap: 5px;
  bottom: 0;
  z-index: 1;
}
.section_customer_protect .control_area .pagination.swiper-pagination-horizontal {
  width: auto;
}
.section_customer_protect .control_area .pagination .swiper-pagination-bullet {
  margin: 0 3px;
}
.section_customer_protect .control_area .pagination .swiper-pagination-bullet-active {
  background: #2090ff;
}
.section_customer_protect .control_area .checkbox + label {
  margin-top: 4px;
}
.section_customer_protect .control_area .checkbox + label.pause {
  border-left: 5px solid #dcdcdc;
}

.app_link_area-mobile {
  display: none;
}
.mobile .app_link_area-mobile {
  display: block;
  position: relative;
  height: 184px;
  padding-top: 32px;
  background: linear-gradient(to bottom, #fff, #fefdff 23%, #e6eaf3 60%, #fff 93%);
}
.mobile .app_link_area-mobile .inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile .app_link_area-mobile .headline {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  color: #000;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.mobile .app_link_area-mobile .headline::after {
  display: none;
}
.mobile .app_link_area-mobile .app_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 108px;
  height: 32px;
  padding: 5px 15px;
  border-radius: 6px;
  background-color: #2090ff;
  font-size: 13px;
  color: #fff;
  line-height: 32px;
}
.mobile .app_link_area-mobile .app_link::before {
  display: block;
  width: 14px;
  height: 14px;
  background: url("../images/ico_arrow_download.png") no-repeat center/cover;
  content: "";
}
.mobile .app_link_area-mobile::after {
  display: block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 158px;
  height: 189px;
  background: url("../images/img_character1-mobile.png") no-repeat center/cover;
  content: "";
}

.mobile .find_card_area-mobile,
.mobile .section_finance-mobile,
.mobile .event_link-mobile,
.mobile .section_customer-mobile {
  display: block;
  margin-top: 52px;
}

.find_card_area-mobile {
  display: none;
}
.find_card_area-mobile .image_box {
  overflow: hidden;
  position: relative;
  padding-bottom: 75.4702702703%;
}
.find_card_area-mobile .image_box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.section_finance-mobile {
  display: none;
}
.section_finance-mobile .headline::after {
  display: none;
}
.section_finance-mobile .finance_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section_finance-mobile .finance_item {
  display: flex;
  align-items: center;
  height: 92px;
  padding: 0 24px;
  border-radius: 16px;
  background-color: #f4f6fb;
}
.section_finance-mobile .finance_link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 16px;
}
.section_finance-mobile .finance_link.short_term::after, .section_finance-mobile .finance_link.long_term::after, .section_finance-mobile .finance_link.credit_roan::after, .section_finance-mobile .finance_link.revolving::after {
  display: block;
  width: 36px;
  height: 36px;
  content: "";
}
.section_finance-mobile .finance_link.short_term:after {
  background: url("../images/ico_finance_item1-mobile.png") no-repeat center/cover;
}
.section_finance-mobile .finance_link.long_term:after {
  background: url("../images/ico_finance_item2-mobile.png") no-repeat center/cover;
}
.section_finance-mobile .finance_link.credit_roan:after {
  background: url("../images/ico_finance_item3-mobile.png") no-repeat center/cover;
}
.section_finance-mobile .finance_link.revolving:after {
  background: url("../images/ico_finance_item4-mobile.png") no-repeat center/cover;
}
.section_finance-mobile .text_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section_finance-mobile .title {
  font-size: 16px;
}
.mobile .section_finance-mobile .title {
  font-size: 16px;
}
.section_finance-mobile .desc_box {
  display: flex;
  align-items: center;
}
.section_finance-mobile .desc_box .desc {
  font-size: 14px;
}
.section_finance-mobile .desc_box .desc:nth-child(2) {
  display: flex;
  align-items: center;
}
.section_finance-mobile .desc_box .desc:nth-child(2)::before {
  display: block;
  width: 1px;
  height: 12px;
  margin: 0 8px;
  background: #e2e5db;
  content: "";
}
.section_finance-mobile .desc_box .important_text {
  font-weight: bold;
}

.event_link-mobile {
  display: none;
}
.mobile .event_link-mobile {
  position: relative;
  padding: 43px 23px 76px 24px;
  border-radius: 12px;
  background: #e6ebff;
}
.mobile .event_link-mobile .text_box {
  font-size: 20px;
  font-weight: bold;
  color: #111111;
  white-space: pre-line;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.mobile .event_link-mobile::after {
  display: block;
  position: absolute;
  bottom: 17px;
  right: 23px;
  width: 120px;
  height: 122px;
  background: url("../images/img_event-mobile.png") no-repeat center/cover;
  content: "";
}

.section_customer-mobile {
  display: none;
}
.mobile .section_customer-mobile {
  height: auto;
  padding: 0;
  border: 0;
}
.mobile .section_customer-mobile .headline::after {
  display: none;
}
.section_customer-mobile .service_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}
.section_customer-mobile .service_item {
  height: 42px;
  border-radius: 12px;
  background-color: #f4f6fb;
  font-size: 14px;
  color: #111;
  line-height: 42px;
}
.section_customer-mobile .service_item::before {
  display: none;
}
.section_customer-mobile .service_link {
  display: block;
  width: 100%;
  text-align: center;
}