.footer {
  padding: 37px 0;
  margin-top: 50px;
  background-color: #f3f5f8;

  .title {
    color: #2b2e38;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 12px;
      background: #e2e5db;
      margin: 0 6px;
    }
  }

  .tel {
    &-area {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      border-bottom: 1px solid #e0e0e0;
    }

    &-list {
      display: flex;
      gap: 5px;
    }

    &-item {
      color: #2b2e38;
      font-size: 14px;
    }
  }

  .info1 {
    &-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 12px;
      padding-bottom: 5px;

      .inner {
        display: flex;
        align-items: center;
      }
    }

    &-list {
      display: flex;
    }

    &-item {
      color: #2b2e38;
      font-size: 14px;

      &:not(:last-child):after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background: #e2e5db;
        margin: 0 8px;
      }
    }
  }

  .family {
    width: 182px;
    height: 29px;
    padding: 0 11px;
    border: 1px solid #808789;
    position: relative;
    background: #fff;

    &:focus {
      background: #000;
    }

    .title {
      color: #7b7e86;
      line-height: 29px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        content: "";
        display: block;
        background-image: url("../assets/i_footer_select_btn.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 0 -11px;
        width: 14px;
        height: 9px;
      }
    }

    &-list {
      position: absolute;
      width: inherit;
      left: -1px;
      bottom: 0;
      transform: translateY(-27px);
      border: 1px solid #808789;
      border-bottom: 1px solid #b8b8b8;
      background: #fff;
      z-index: 1;
      height: 225px;
      overflow-y: scroll;
      opacity: 0;
    }

    .link-family {
      display: block;
      padding: 5px 0 5px 10px;
      font-size: 12px;
      text-decoration: none;
      color: #686868;

      &:hover {
        background: #ececec;
      }
    }

    &.opacity {
      .title {
        &::after {
          background-position: 0 0px;
        }
      }

      .family-list {
        opacity: 1;
      }
    }
  }

  .info2 {
    &-area {
      display: flex;
      gap: 120px;
      align-items: center;

      .link-companyInfo {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #2b2e38;

        &::after {
          content: "";
          display: block;
          background-image: url("../assets/bg_footer_company_181207.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 9px;
          height: 11px;
          margin-left: 5px;
        }
      }
    }

    &-list {
      display: flex;
      align-items: center;

    }

    &-item {
      color: #2b2e38;
      font-size: 14px;

      &:not(:last-child) {
        font-weight: bold;

        &::after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          background: #e2e5db;
          margin: 0 6px;
        }
      }

      span:after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: -2px 5px 0;
        background: url("../assets/ico_btn_help.png") no-repeat 0 center;
        vertical-align: middle;
      }
    }
  }

  .address-info {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 770px;
    font-size: 14px;
    color: #2b2e38;
    letter-spacing: -1px;
    padding-top: 17px;
  }

  .logo {
    background: url("../assets/footer_logo.png") no-repeat center;
    width: 97px;
    height: 43px;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .copy {
        display: flex;
        align-items: center;
        color: #7b7e86;
        font-size: 14px;
      }
    }
  }

  .mark-area {

    .content {
      position: relative;
      padding: 0 40px;
      width: 720px;
    }

    .swiper {
      &-slide {
        a {
          display: flex;
          align-items: center;
          width: 100%;
        }

        span {
          font-size: 11px;
          line-height: 16px;
          color: #747474;
          vertical-align: middle;
          letter-spacing: -1px;
          margin-left: 10px;
        }
      }
    }

    .btn {
      width: 21px;
      height: 21px;
      position: absolute;
      top: 0;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      &-prev {
        background: url("../assets/btn_page.png") no-repeat -43px -40px;
        left: 0px;
      }

      &-next {
        background: url("../assets/btn_page.png") no-repeat -84px -40px;
        right: 0;
      }
    }
  }
}