@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"');
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

input {
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  min-width: 1140px;
}
.wrapper .inner {
  max-width: 1224px;
  margin: 0 auto;
}
.wrapper.mobile {
  min-width: 320px;
}
.wrapper.mobile .inner {
  padding: 0 21px;
  width: 100%;
}

.dimmed {
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
}
.dimmed.on {
  display: block;
}

@keyframes slide_up {
  0% {
    height: 50px;
  }
  100% {
    height: 0px;
  }
}
@keyframes slide-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.chatBot {
  position: fixed;
  right: 29px;
  bottom: 11px;
  width: 70px;
  height: 88px;
  background: url("../assets/70x88_6.png") no-repeat;
  cursor: pointer;
  background-position: -280px -880px;
}
.chatBot.none {
  display: none;
}
.chatBot .btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border: 0;
  width: 70px;
  height: 88px;
  background: url("../assets/70x88_6.png") no-repeat;
  background-position: -280px -880px;
  z-index: 100;
}
.chatBot .closeBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 2px;
  line-height: 0;
  z-index: 101;
  background: url("../assets/bg_button_chatbot_close.png") no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
}

.header.scrollTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.header .background {
  background: #fff;
}
.header .inner {
  position: relative;
}
.header .inner::before {
  content: "";
  display: block;
  max-width: 1224px;
  height: 88px;
}
.mobile .header .inner::before {
  display: none;
}
.header .inner .group-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
}
.mobile .header .inner .group-flex {
  padding: 0;
  height: 45px;
  align-items: center;
  overflow: hidden;
}
.header .inner .group-flex .logo a {
  display: block;
  background: url("../assets/logo.png") no-repeat;
  width: 158px;
  height: 22px;
  background-size: contain;
}
.mobile .header .inner .group-flex .logo a {
  background: url("../assets/new_2204_h_logo.png") no-repeat;
  width: 115px;
  height: 16px;
  background-size: cover;
}
.header .inner .group-flex .menu {
  display: block;
}
.mobile .header .inner .group-flex .menu {
  display: none;
}
.header .inner .group-flex .menu-list {
  display: flex;
  font-size: 20px;
  color: #111;
  gap: 73px;
}
.header .inner .group-flex .menu-item {
  line-height: 1;
  font-weight: 500;
  letter-spacing: -1px;
}
.header .inner .group-flex .menu-item:hover {
  color: #0080ff;
  position: relative;
}
.header .inner .group-flex .menu-item:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #2090ff;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
.header .inner .group-flex .btn-box {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.header .inner .group-flex .btn-box .btn {
  width: 20px;
  height: 20px;
  border: none;
}
.header .inner .group-flex .btn-box .appDown {
  display: none;
}
.mobile .header .inner .group-flex .btn-box .appDown {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 8px 3px;
  background: #2090ff;
  border-radius: 28px;
  color: #ffffff;
  transform: translateY(200%);
  transition: 0.1s;
}
.mobile .header .inner .group-flex .btn-box .appDown.top {
  transform: translateY(0%);
}
.header .inner .group-flex .btn-box .btn-search {
  background: url("../assets/i_search.png") no-repeat center/contain;
}
.mobile .header .inner .group-flex .btn-box .btn-search {
  display: none;
}
.header .inner .group-flex .btn-box .btn-search.close {
  background: url("../assets/new_2204_cancle.png") no-repeat center/contain;
}
.header .inner .group-flex .btn-box .btn-menu {
  background: url("../assets/i_burgerbar.png") no-repeat center/contain;
}
.header .inner .group-flex .business-auth-area {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #666;
}
.mobile .header .inner .group-flex .business-auth-area {
  display: none;
}
.header .inner .group-flex .business-list,
.header .inner .group-flex .auth-area {
  display: flex;
  align-items: center;
}
.header .inner .group-flex .business-list .item,
.header .inner .group-flex .auth-area .item {
  display: flex;
  align-items: center;
  letter-spacing: -1px;
}
.header .inner .group-flex .business-list .item:hover,
.header .inner .group-flex .auth-area .item:hover {
  color: #0080ff;
}
.header .inner .group-flex .business-list .item + .item::before,
.header .inner .group-flex .auth-area .item + .item::before {
  content: "";
  display: inline-block;
  background-color: #e2e5eb;
  width: 1px;
  height: 12px;
  margin: 0 10px;
}
.header .gnb {
  display: none;
}
.header .gnb.on {
  display: block;
}
.header .gnb .inner {
  position: relative;
  background: #fff;
}
.header .gnb .inner::before {
  display: none;
}
.header .gnb .inner .nav-list {
  width: 270px;
  height: 735px;
  padding-top: 40px;
  background-color: #f3f5f8;
}
.header .gnb .inner .nav-item {
  display: flex;
  height: 62px;
  background-color: #f3f5f8;
}
.header .gnb .inner .nav-item.on .nav-title {
  color: #fff;
  background-color: #2e81f8;
  font-weight: bold;
}
.header .gnb .inner .nav-item.on .depth1-menu {
  display: flex;
}
.header .gnb .inner .nav-title {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 15px;
  font-size: 24px;
  color: #0b0d0f;
}
.header .gnb .inner .depth1-menu {
  display: none;
  flex-wrap: wrap;
  gap: 46px;
  position: absolute;
  top: 0px;
  left: 270px;
  width: 700px;
  padding: 0 63px;
}
.header .gnb .inner .depth1-list {
  width: 268px;
  height: -moz-fit-content;
  height: fit-content;
}
.header .gnb .inner .depth1-item {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 20px;
}
.header .gnb .inner .depth1-item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b7b7b7;
}
.header .gnb .inner .depth1-title {
  padding-bottom: 13px;
}
.header .gnb .inner .depth1-title[role=button] {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  text-align: left;
}
.header .gnb .inner .depth1-title[role=button]::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 13%;
  background: url("../assets/btn_arrow_up.png") no-repeat;
  transform: rotate(180deg);
  width: 16px;
  height: 10px;
}
.header .gnb .inner .depth1-title[role=button]:hover::after {
  background: url("../assets/btn_arrow_up_blue.png") no-repeat;
}
.header .gnb .inner .depth1-title[role=link] {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}
.header .gnb .inner .depth1-title[role=link]::after {
  content: "";
  display: block;
  background: url("../assets/ico_allmenu.png") no-repeat scroll 0 -354px rgba(0, 0, 0, 0);
  width: 16px;
  height: 16px;
}
.header .gnb .inner .depth1-title.qna:hover {
  color: #2e81f8;
}
.header .gnb .inner .depth2-list {
  display: none;
}
.header .gnb .inner .depth2-item:hover {
  color: #2e81f8;
}
.header .gnb .inner .depth2-title[role=link] {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .gnb .inner .depth2-title[role=link]::after {
  content: "";
  display: block;
  background: url("../assets/ico_allmenu.png") no-repeat scroll 0 -354px rgba(0, 0, 0, 0);
  width: 16px;
  height: 16px;
}
.header .gnb .inner .flex-box {
  display: flex;
  gap: 40px;
}
.header .gnb .inner .flex-box:nth-child(1) {
  padding-top: 60px;
}
.header .gnb .inner .flex-box.on .depth2-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header .gnb .inner .flex-box.on .depth1-title[role=button]::after {
  transform: rotate(0deg);
}
.header .gnb .inner .favorite-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: calc(100% - 270px - 700px);
  height: 100%;
  background-color: #f3f5f8;
  padding: 60px 20px;
}
.header .gnb .inner .favorite-menu .title {
  color: #202020;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 20px;
}
.header .gnb .inner .favorite-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header .gnb .inner .favorite-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
.header .gnb .inner .favorite-item::after {
  content: "";
  display: block;
  background: url("../assets/faver_arr_onw_b.png") no-repeat;
  width: 7px;
  height: 12px;
}
.header .gnb .inner .favorite-banner {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.header .search-chatbot-area {
  display: none;
}
.mobile .header .search-chatbot-area {
  display: none;
}
.header .search-chatbot-area.on {
  display: block;
}
.header .search-chatbot-area .inner {
  background: #f2f4f7;
}
.header .search-chatbot-area .inner::before {
  display: none;
}
.header .search-chatbot-area .search-area {
  padding: 48px 0;
  background: #fff;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #d0d0d0;
}
.header .search-chatbot-area .search-area .sub-inner {
  position: relative;
  max-width: 696px;
  margin: 0 auto;
  border-bottom: 2px solid #2b2e38;
}
.header .search-chatbot-area .search-area .sub-inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: url("../assets/btn_search_chatbot.png") no-repeat;
  background-size: cover;
}
.header .search-chatbot-area .search-area .input {
  display: block;
  width: calc(100% - 64px);
  background: transparent;
  border: none;
  color: #7b7e86;
  line-height: 64px;
  outline: none;
  font-size: 22px;
  padding-right: 30px;
}
.header .search-chatbot-area .search-area .input::-moz-placeholder {
  font-size: 22px;
  color: #7b7e86;
  letter-spacing: -1px;
}
.header .search-chatbot-area .search-area .input::placeholder {
  font-size: 22px;
  color: #7b7e86;
  letter-spacing: -1px;
}
.header .search-chatbot-area .search-area .input::-webkit-search-decoration, .header .search-chatbot-area .search-area .input::-webkit-search-cancel-button, .header .search-chatbot-area .search-area .input::-webkit-search-results-button, .header .search-chatbot-area .search-area .input::-webkit-search-results-decoration {
  display: none;
}
.header .search-chatbot-area .search-area .input-clear {
  display: none;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 33px;
  height: 38px;
  border: 0;
  background: url("../assets/btn_input_del.png") no-repeat;
  background-position: center;
}
.header .search-chatbot-area .search-area .input-clear.on {
  display: block;
}
.header .search-chatbot-area .chatbot-area {
  display: flex;
  align-items: center;
  gap: 47px;
  max-width: 696px;
  margin: 0 auto;
  padding: 55px 60px 75px;
}
.header .search-chatbot-area .chatbot-area .title {
  font-size: 22px;
  font-weight: bold;
  color: #0079ea;
  padding-right: 15px;
}
.header .search-chatbot-area .chatbot-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 15px;
}
.header .search-chatbot-area .chatbot-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}
.header .search-chatbot-area .chatbot-item {
  border: 1px solid #d3d5da;
  border-radius: 30px;
  padding: 4px 10px;
  letter-spacing: -1px;
}
.header .mo_gnb {
  display: none;
}
.mobile .header .mo_gnb {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  background: #fff;
  height: 100%;
  overflow-y: scroll;
}
.mobile .header .mo_gnb .inner {
  padding-bottom: 56px;
}
.mobile .header .mo_gnb .head {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  padding-top: 72px;
  border-bottom: 1px solid #e2e5eb;
  position: relative;
}
.mobile .header .mo_gnb .head .title {
  font-size: 16px;
  color: #111111;
  font-weight: bold;
  line-height: 18px;
}
.mobile .header .mo_gnb .head .desc {
  font-size: 14px;
  color: #2090ff;
}
.mobile .header .mo_gnb .head::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../assets/Samsung Card.png") no-repeat;
  width: 101px;
  height: 97px;
  background-size: cover;
}
.mobile .header .mo_gnb .headline {
  font-size: 20px;
  color: #111111;
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 22px;
  gap: 4px;
  margin-bottom: 16px;
}
.mobile .header .mo_gnb .headline.link {
  padding-top: 42px;
  margin-bottom: 0;
}
.mobile .header .mo_gnb .headline.link::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../assets/new_2203_r_arrow.png") no-repeat 0 0;
  background-size: 20px 20px;
}
.mobile .header .mo_gnb section {
  padding-top: 42px;
}
.mobile .header .mo_gnb section ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  padding: 24px 16px;
  background: #f4f6fb;
  border-radius: 12px;
}
.mobile .header .mo_gnb section ul li {
  font-size: 16px;
  color: #111111;
  width: 50%;
}
.mobile .header .mo_gnb .chat-bot {
  margin-top: 42px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e5eb;
}
.mobile .header .mo_gnb .chat-bot a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background: #e5efff;
  border-radius: 20px;
  color: #1065d9;
  font-size: 14px;
  gap: 9px;
}
.mobile .header .mo_gnb .chat-bot a::before {
  content: "";
  display: block;
  background: url("../assets/new_2204_n_menu_ch.png") no-repeat;
  width: 37px;
  height: 40px;
  background-size: cover;
}
.mobile .header .mo_gnb .section-app {
  padding-top: 24px;
  padding-bottom: 42px;
  border-bottom: 1px solid #f4f4f4;
}
.mobile .header .mo_gnb .section-app .app-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile .header .mo_gnb .section-app .app-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mobile .header .mo_gnb .section-app .app-item .image-box {
  width: 42px;
  height: 42px;
}
.mobile .header .mo_gnb .section-app .app-item .image-box img {
  width: 100%;
}
.mobile .header .mo_gnb .section-app .title {
  font-weight: bold;
}
.mobile .header .mo_gnb .section-app .desc {
  font-size: 14px;
  color: #666666;
  line-height: 16px;
}
.mobile .header .mo_gnb .business-financial-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  padding: 16px 0;
}
.mobile .header .mo_gnb .business-financial-area .inner {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}
.mobile .header .mo_gnb .business-financial-area a {
  font-size: 14px;
  color: #111111;
  display: flex;
  align-items: center;
}
.mobile .header .mo_gnb .business-financial-area a + a::before {
  content: "";
  display: block;
  background-color: #e2e5eb;
  width: 1px;
  height: 12px;
  margin: 0 10px;
}
.mobile .header .mo_gnb .mo_gnb-close {
  position: absolute;
  top: 26px;
  right: 21px;
  z-index: 4;
  background: url("../assets/new_2204_cancle.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  border: 0;
}

.wrapper.mobile .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.footer {
  padding: 37px 0;
  margin-top: 50px;
  background-color: #f3f5f8;
}
.mobile .footer {
  margin-top: 52px;
  padding: 0;
  padding-top: 11px;
  background-color: rgb(221, 222, 227);
}
.mobile .footer > div.inner {
  display: none;
}
.footer .title {
  color: #2b2e38;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer .title::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #e2e5db;
  margin: 0 6px;
}
.footer .tel-area {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
}
.footer .tel-list {
  display: flex;
  gap: 5px;
}
.footer .tel-item {
  color: #2b2e38;
  font-size: 14px;
}
.footer .info1-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 5px;
}
.footer .info1-area.mobile {
  display: none;
}
.mobile .footer .info1-area.mobile {
  background-color: #e9ebef;
  display: block;
  padding-bottom: 0;
  border-top: 1px solid #d3d5da;
}
.footer .info1-area.mobile .info1-list {
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid #d3d5da;
  flex-wrap: wrap;
}
.footer .info1-area.mobile .info1-item:nth-child(1), .footer .info1-area.mobile .info1-item:nth-child(3), .footer .info1-area.mobile .info1-item:nth-child(4), .footer .info1-area.mobile .info1-item:nth-child(5) {
  font-weight: bold;
}
.footer .info1-area .inner {
  display: flex;
  align-items: center;
}
.footer .info1-list {
  display: flex;
}
.footer .info1-item {
  color: #2b2e38;
  font-size: 14px;
}
.footer .info1-item:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #e2e5db;
  margin: 0 8px;
}
.mobile .footer .info1-item:not(:last-child):after {
  margin: 0 15px;
}
.footer .family {
  width: 182px;
  height: 29px;
  padding: 0 11px;
  border: 1px solid #808789;
  position: relative;
  background: #fff;
}
.mobile .footer .family {
  display: none;
}
.footer .family:focus {
  background: #000;
}
.footer .family .title {
  color: #7b7e86;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .family .title::after {
  content: "";
  display: block;
  background-image: url("../assets/i_footer_select_btn.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 -11px;
  width: 14px;
  height: 9px;
}
.footer .family-list {
  position: absolute;
  width: inherit;
  left: -1px;
  bottom: 0;
  transform: translateY(-27px);
  border: 1px solid #808789;
  border-bottom: 1px solid #b8b8b8;
  background: #fff;
  z-index: 1;
  height: 225px;
  overflow-y: scroll;
  opacity: 0;
}
.footer .family .link-family {
  display: block;
  padding: 5px 0 5px 10px;
  font-size: 12px;
  text-decoration: none;
  color: #686868;
}
.footer .family .link-family:hover {
  background: #ececec;
}
.footer .family.opacity .title::after {
  background-position: 0 0px;
}
.footer .family.opacity .family-list {
  opacity: 1;
}
.footer .info2-area {
  display: flex;
  gap: 120px;
  align-items: center;
}
.footer .info2-area.mobile {
  display: none;
}
.mobile .footer .info2-area.mobile {
  background-color: #e9ebef;
  display: block;
  padding-top: 12px;
}
.footer .info2-area.mobile .info2-list {
  justify-content: space-between;
  border-bottom: 1px solid #d3d5da;
}
.footer .info2-area.mobile .info2-list .address-info {
  padding: 0;
  height: 0;
  list-style: none;
  overflow: hidden;
  transition: height ease-out 0.3s;
  flex-direction: column;
  align-items: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  gap: 7px;
}
.footer .info2-area.mobile .info2-list .address-item {
  display: flex;
  align-items: center;
  color: #575b63;
  line-height: 1.3;
}
.footer .info2-area.mobile .info2-list .address-item span:nth-child(1) {
  min-width: 124px;
}
.footer .info2-area.mobile .info2-list .address-item span:nth-child(2) {
  display: flex;
  align-items: center;
}
.footer .info2-area.mobile .info2-list .address-item span:nth-child(2) span {
  min-width: auto;
}
.footer .info2-area.mobile .info2-list .address-item span:nth-child(2) a {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer .info2-area.mobile .info2-list .address-item span:nth-child(2) a::before {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background: #cccccc;
  margin: 0 8px;
}
.footer .info2-area.mobile .info2-list .address-item span:nth-child(2) a::after {
  content: "";
  display: block;
  background: url("../assets/btn_footer_new_copy.png");
  background-size: cover;
  height: 8px;
  width: 5px;
  background-size: 10.5px 25px;
  background-position: 0 -17px;
}
.footer .info2-area.mobile .info2-list .address-item:not(.footer .info2-area.mobile .info2-list .address-item:last-child) span::after {
  display: none;
}
.footer .info2-area.mobile .info2-item {
  font-weight: normal;
  color: #575b63;
}
.footer .info2-area.mobile .info2-item:nth-child(2) {
  display: flex;
  align-self: baseline;
  font-size: 13px;
  gap: 3px;
}
.footer .info2-area.mobile .info2-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  padding-bottom: 12px;
}
.footer .info2-area.mobile .info2-title::after {
  content: "";
  display: block;
  background: url("../assets/btn_footer_new_copy.png") no-repeat;
  background-position: 0 -6px;
  background-size: 10.5px 25px;
  width: 10.5px;
  height: 6.5px;
}
.footer .info2-area.mobile .info2-title.on::after {
  content: "";
  display: block;
  background: url("../assets/btn_footer_new_copy.png") no-repeat;
  background-position: 0 0;
  background-size: 10.5px 25px;
  width: 10.5px;
  height: 6.5px;
}
.footer .info2-area.mobile .info2-title.on + .address-info {
  height: 155px;
  display: flex;
}
.footer .info2-area .link-companyInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #2b2e38;
}
.footer .info2-area .link-companyInfo::after {
  content: "";
  display: block;
  background-image: url("../assets/bg_footer_company_181207.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 9px;
  height: 11px;
  margin-left: 5px;
}
.footer .info2-list {
  display: flex;
  align-items: center;
}
.footer .info2-item {
  color: #2b2e38;
  font-size: 14px;
}
.footer .info2-item:not(:last-child) {
  font-weight: bold;
}
.footer .info2-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #e2e5db;
  margin: 0 6px;
}
.mobile .footer .info2-item:not(:last-child)::after {
  display: none;
}
.footer .info2-item span:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -2px 5px 0;
  background: url("../assets/ico_btn_help.png") no-repeat 0 center;
  vertical-align: middle;
}
.footer .address-info {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 770px;
  font-size: 14px;
  color: #2b2e38;
  letter-spacing: -1px;
  padding-top: 17px;
}
.footer .logo {
  background: url("../assets/footer_logo.png") no-repeat center;
  width: 97px;
  height: 43px;
}
.mobile .footer .logo {
  width: 70px;
  height: 24px;
  background-size: cover;
}
.footer .logo-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .logo-wrap.mobile {
  display: none;
}
.mobile .footer .logo-wrap.mobile {
  background-color: #e9ebef;
  display: block;
  padding-top: 12px;
}
.mobile .footer .logo-wrap.mobile .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #d3d5da;
}
.mobile .footer .logo-wrap.mobile .content .copy {
  font-size: 13.5px;
}
.footer .logo-wrap .copy {
  display: flex;
  align-items: center;
  color: #7b7e86;
  font-size: 14px;
}
.footer .mark-area.mobile {
  display: none;
}
.mobile .footer .mark-area.mobile {
  background-color: #e9ebef;
  display: block;
  padding-top: 12px;
  padding-bottom: 120px;
}
.mobile .footer .mark-area.mobile .group {
  overflow: scroll;
}
.mobile .footer .mark-area.mobile .group .mark-list {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-bottom: 15px;
}
.mobile .footer .mark-area.mobile .group .mark-item a {
  display: flex;
  align-items: center;
}
.mobile .footer .mark-area.mobile .group .mark-item a img {
  width: 27px;
}
.mobile .footer .mark-area.mobile .group .mark-item a span {
  font-size: 13px;
  line-height: 1.3;
  color: #666666;
  margin-left: 8px;
}
.footer .mark-area .content {
  position: relative;
  padding: 0 40px;
  width: 720px;
}
.footer .mark-area .swiper-slide a {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer .mark-area .swiper-slide span {
  font-size: 11px;
  line-height: 16px;
  color: #747474;
  vertical-align: middle;
  letter-spacing: -1px;
  margin-left: 10px;
}
.footer .mark-area .btn {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.footer .mark-area .btn-prev {
  background: url("../assets/btn_page.png") no-repeat -43px -40px;
  left: 0px;
}
.footer .mark-area .btn-next {
  background: url("../assets/btn_page.png") no-repeat -84px -40px;
  right: 0;
}

main > * + * {
  margin-top: 24px;
}

.mobile-headline {
  display: none;
}
.mobile .mobile-headline {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #111111;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 16px;
}
.mobile .mobile-headline::after {
  content: "";
  display: block;
  background: url("../assets/new_2203_r_arrow.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  height: 50px;
  background: #2090ff;
}
.mobile .top-banner {
  display: none;
}
.top-banner.on {
  height: 0px;
  animation-name: slide_up;
  animation-duration: 0.5s;
  overflow: hidden;
}
.top-banner .text {
  font-size: 16px;
  color: #ffffff;
}
.top-banner .btn {
  padding: 8px 10px;
  border-radius: 22px;
  background: #1065d9;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin-right: 4px;
  border: 0;
}
.top-banner .btn-area {
  display: flex;
}
.top-banner .btn .icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.top-banner .banner-closeBtn {
  width: 20px;
  height: 20px;
  background: url("../assets/new_2204_cancle_white.png") no-repeat;
  background-size: cover;
  position: absolute;
  right: 24px;
  border: 0;
}

.container {
  overflow: hidden;
}
.mobile .container {
  margin-top: 45px;
}
.container.scrollTop {
  margin-top: 162px;
}
.container .group-flex {
  display: flex;
  justify-content: space-between;
  height: 462px;
}
.mobile .container .group-flex {
  height: 589px;
}

.section-appBanner {
  display: none;
}
.mobile .section-appBanner {
  display: block;
  position: relative;
  background: linear-gradient(to bottom, #fff, #fefdff 23%, #e6eaf3 60%, #fff 93%);
  height: 184px;
  padding-top: 32px;
}
.mobile .section-appBanner .inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.mobile .section-appBanner .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}
.mobile .section-appBanner a {
  display: block;
}
.mobile .section-appBanner a .down-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 108px;
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  border-radius: 6px;
  background-color: #2090ff;
  color: #fff;
  padding: 5px 15px;
}
.mobile .section-appBanner a .down-link::before {
  content: "";
  display: block;
  background: url("../assets/2023-12-17T161126.png") no-repeat;
  width: 14px;
  height: 14px;
  background-size: cover;
}
.mobile .section-appBanner::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  right: 0;
  background: url("../assets/new_2204_my_main_visual_m.png") no-repeat;
  width: 158px;
  height: 189px;
  background-size: cover;
}

.section-visual {
  width: 66%;
}
.mobile .section-visual {
  width: 100%;
}
.section-visual .swiper {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.section-visual .swiper-slide {
  height: 100%;
  max-height: 462px;
  border-radius: 16px;
}
.mobile .section-visual .swiper-slide {
  height: 100%;
  max-height: 589px;
}
.section-visual .swiper-slide .image-box {
  position: relative;
  padding-bottom: 57.1171171171%;
  border-radius: 16px;
}
.mobile .section-visual .swiper-slide .image-box {
  padding-bottom: 75.4768392371%;
}
.mobile .section-visual .swiper-slide .image-box img.pc {
  display: none;
}
.mobile .section-visual .swiper-slide .image-box img.mo {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
}
.section-visual .swiper-slide .image-box img.pc {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
}
.section-visual .swiper-slide .image-box img.mo {
  display: none;
}
.section-visual .swiper-slide:nth-child(3) .text-box {
  position: absolute;
  top: 60px;
  left: 52px;
  color: #000;
}
.section-visual .swiper-slide .text-box {
  position: absolute;
  top: 60px;
  left: 52px;
  color: #fff;
}
.mobile .section-visual .swiper-slide .text-box {
  top: 31px;
  left: 24px;
}
.section-visual .swiper-slide .title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
}
.mobile .section-visual .swiper-slide .title {
  font-size: 24px;
  line-height: 32px;
}
.section-visual .swiper-slide .desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 10px;
}
.mobile .section-visual .swiper-slide .desc {
  font-size: 12px;
  line-height: 14px;
}
.section-visual .swiper .control-area {
  position: absolute;
  bottom: 53px;
  left: 52px;
  z-index: 1;
  display: flex;
  align-items: center;
}
.mobile .section-visual .swiper .control-area {
  left: 24px;
}
.section-visual .swiper .control-area .pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #dcdcdc;
  opacity: 1;
  margin: 3px;
}
.section-visual .swiper .control-area .pagination .swiper-pagination-bullet-active {
  width: 16px;
  background: #ffffff;
  border-radius: 9.6px;
}
.section-visual .swiper .control-area .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.section-visual .swiper .control-area .autoplay {
  width: 6px;
  height: 6px;
  margin-top: -2px;
  border-color: #dcdcdc;
  border-style: double;
  border-width: 0 0 0 6px;
  cursor: pointer;
}
.section-visual .swiper .control-area .pause {
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-left: 5px solid #ffffff;
  margin-top: -2px;
  width: 6px;
  height: 6px;
  cursor: pointer;
}

.section-auth {
  width: 32%;
  border: 1px solid #e2e5eb;
  border-radius: 16px;
  padding: 24px 17px;
}
.mobile .section-auth {
  display: none;
}
.section-auth .auth-list {
  display: flex;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #e2e5eb;
}
.section-auth .auth-item {
  display: flex;
  justify-content: center;
  width: 25%;
  line-height: 48px;
  cursor: pointer;
}
.section-auth .auth-item:hover {
  background: #ddd;
}
.section-auth .auth-item.on {
  border-bottom: 2px solid #111;
  font-weight: bold;
  color: #000;
}
.section-auth .auth-contents {
  padding: 30px 17px 0 17px;
}
.section-auth .auth-contents .card,
.section-auth .auth-contents .cert1,
.section-auth .auth-contents .cert2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-auth .auth-contents .card::before,
.section-auth .auth-contents .cert1::before,
.section-auth .auth-contents .cert2::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
}
.section-auth .auth-contents .card .desc,
.section-auth .auth-contents .cert1 .desc,
.section-auth .auth-contents .cert2 .desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.section-auth .auth-contents .cert1,
.section-auth .auth-contents .cert2 {
  padding-top: 12px;
}
.section-auth .auth-contents .cert1 .desc,
.section-auth .auth-contents .cert2 .desc {
  padding: 15px 0 38px;
}
.section-auth .auth-contents .card::before {
  background: url("../assets/auth-card.png") center/contain;
}
.section-auth .auth-contents .card .desc {
  padding: 15px 0 26px;
}
.section-auth .auth-contents .cert1::before {
  background: url("../assets/auth-cert1.png") center/contain;
}
.section-auth .auth-contents .cert2::before {
  background: url("../assets/auth-cert2.png") center/contain;
}
.section-auth .auth-contents .id {
  padding-bottom: 16px;
}
.section-auth .auth-contents .id .form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-auth .auth-contents .id .form input {
  width: 100%;
  height: 52.5px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  padding-left: 20px;
  padding-bottom: 0px;
  font-size: 14px;
  color: #686868;
}
.section-auth .auth-contents .id .form .id-area {
  position: relative;
}
.section-auth .auth-contents .id .form .id-area input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.section-auth .auth-contents .id .form .id-area .save {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: -1px;
  color: #888;
  cursor: pointer;
}
.section-auth .auth-contents .id .form .id-area .save .saved {
  background: url("../assets/auth_form_btn.png") no-repeat -50px 0;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  border: 0;
}
.section-auth .auth-contents .id .form .id-area .save .saved.no {
  background: url("../assets/auth_form_btn.png") no-repeat 0px 0;
  width: 23px;
  height: 23px;
  margin-right: 10px;
}
.section-auth .auth-contents .id .form .password-area {
  position: relative;
}
.section-auth .auth-contents .id .form .password-area a::before {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../assets/new_2204_my_login_mouse.png") no-repeat;
  background-size: cover;
  width: 23px;
  height: 23px;
}
.section-auth .auth-contents .login-btn {
  display: block;
  border: 0;
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: #2090ff;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  letter-spacing: -1px;
}
.section-auth .auth-contents .login-btn:hover {
  background: #1065d9;
}
.section-auth .join-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 22px;
  margin: 0 17px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #e2e5eb;
}
.section-auth .direct-area {
  padding-top: 24px;
}
.section-auth .direct-list {
  display: flex;
  justify-content: space-between;
}
.section-auth .direct-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  color: #111111;
}
.section-auth .direct-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 0;
  width: 1px;
  height: 12px;
  background: #e2e5db;
}
.section-auth .direct-item:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
}
.section-auth .direct-item.statement::before {
  background: url("../assets/i_statement.png") no-repeat center/contain;
}
.section-auth .direct-item.usage::before {
  background: url("../assets/i_usage-details.png") no-repeat center/contain;
}
.section-auth .direct-item.immediate::before {
  background: url("../assets/i_immediate-payment.png") no-repeat center/contain;
}
.section-auth .direct-item.payment::before {
  background: url("../assets/i_payment-installments.png") no-repeat center/contain;
}

.section-cards {
  margin-top: 41px;
  border: 1px solid #e2e5eb;
  border-radius: 16px;
  padding: 25px;
  position: relative;
}
.mobile .section-cards {
  margin-top: 52px;
  border: 0;
  padding: 0;
}
.section-cards .tab-list {
  display: flex;
  align-items: center;
}
.mobile .section-cards .tab-list {
  display: none;
}
.section-cards .tab-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #888;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;
}
.section-cards .tab-item + .tab-item::before {
  content: "";
  display: block;
  margin: 0 12px;
  width: 1px;
  height: 12px;
  background: #e2e5db;
}
.section-cards .tab-item.on {
  color: #111111;
}
.section-cards .content {
  position: relative;
  padding: 0px 45px 10px;
  margin-top: 50px;
}
.mobile .section-cards .content {
  display: none;
}
.section-cards .content .swiper {
  padding-top: 32px;
  max-height: 329px;
}
.section-cards .content .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-cards .content .card-item .image-box {
  position: relative;
  max-width: 120px;
}
.section-cards .content .card-item .image-box .back-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  opacity: 0;
  transition: 0.4s;
}
.section-cards .content .card-item .image-box .back-filter::before {
  content: "";
  display: block;
  background: url("../assets/new_2204_btn_apply02.png") no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}
.section-cards .content .card-item .image-box:hover .back-filter {
  background-color: rgb(153, 153, 153);
  opacity: 0.8;
}
.section-cards .content .card-item .badge {
  background-color: #ff3289;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  padding: 4px 8px 4px;
  border-radius: 28px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
}
.section-cards .content .card-item .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.section-cards .content .card-item .text-box .title {
  color: #111111;
  line-height: 20px;
  min-height: 40px;
}
.section-cards .content .card-item .text-box .desc {
  text-align: center;
  font-size: 14px;
  color: #666;
}
.section-cards .content .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 32px;
  height: 32px;
  border: none;
}
.section-cards .content .btn-prev1, .section-cards .content .btn-prev2 {
  background: url("../assets/swiper_prev_btn.png") no-repeat center/cover;
  left: 15px;
}
.section-cards .content .btn-prev1.swiper-button-disabled, .section-cards .content .btn-prev2.swiper-button-disabled {
  opacity: 0.3;
}
.section-cards .content .btn-next1, .section-cards .content .btn-next2 {
  background: url("../assets/swiper_next_btn.png") no-repeat center/cover;
  right: 15px;
}
.section-cards .mobileContent {
  display: none;
}
.mobile .section-cards .mobileContent {
  display: block;
  position: relative;
}
.section-cards .mobileContent .card-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-cards .mobileContent .card-item .image-box {
  position: relative;
  max-width: 90px;
}
.section-cards .mobileContent .card-item .badge {
  background-color: #ff3289;
  padding: 4px 8px 4px;
  border-radius: 28px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 16px;
}
.section-cards .mobileContent .card-item .text-box {
  display: flex;
  flex-direction: column;
  width: 142px;
  gap: 8px;
}
.section-cards .mobileContent .card-item .text-box .title {
  color: #111111;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}
.section-cards .mobileContent .card-item .text-box .desc {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section-cards .more-list {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 18px;
  right: 25px;
}
.mobile .section-cards .more-list {
  top: -7px;
  right: 0;
}
.section-cards .more-item {
  background: #f4f6fb;
  border-radius: 16px;
}
.section-cards .more-item a {
  display: block;
  padding: 9px 19px;
  font-size: 14px;
  color: #111;
  line-height: 16px;
}
.section-cards .more-item:hover {
  background: #dbe2f3;
}
.section-cards .more-item:last-child {
  display: none;
}
.mobile .section-cards .more-item:last-child {
  display: block;
}
.mobile .section-cards .more-item:not(.mobile .section-cards .more-item:last-child) {
  display: none;
}

.grid-area1 {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 274px;
  gap: 20px;
}
.mobile .grid-area1 {
  display: none;
}
.grid-area1 .section-finance .headline,
.grid-area1 .section-shopping .headline {
  display: flex;
  align-items: center;
  color: #111;
  font-weight: bold;
}
.grid-area1 .section-finance .headline::after,
.grid-area1 .section-shopping .headline::after {
  content: "";
  background: url("../assets/swiper_next_btn.png") no-repeat center/cover;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.grid-area1 .section-finance .title,
.grid-area1 .section-shopping .title {
  display: block;
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  color: #111111;
}
.grid-area1 .section-finance .desc,
.grid-area1 .section-shopping .desc {
  color: #666;
  margin-top: 8px;
}
.grid-area1 .section-finance {
  grid-column: span 5;
  border-radius: 16px;
  background: #dcf2fe;
  padding: 32px 24px;
  background-image: url("../assets/finance_bg.png");
  background-repeat: no-repeat;
  background-size: 35% 100%;
  background-position: right 0;
}
.grid-area1 .section-shopping {
  display: flex;
  grid-column: span 5;
  padding: 32px 24px;
  border-radius: 16px;
  border: 1px solid #e2e5eb;
}
.grid-area1 .section-shopping .text-box {
  max-width: 330px;
  display: flex;
  flex-direction: column;
}
.grid-area1 .section-shopping .title {
  display: flex;
  align-items: center;
}
.grid-area1 .section-shopping .title span {
  display: flex;
  align-items: center;
  color: #2090ff;
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
}
.grid-area1 .section-shopping .title span::before {
  content: "";
  border-radius: 50%;
  background: #0080ff;
  width: 6px;
  height: 6px;
  margin-right: 5px;
}
.grid-area1 .section-shopping .desc {
  color: #111;
}
.grid-area1 .section-shopping .item-desc {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.grid-area1 .section-shopping .item-desc span {
  display: flex;
  align-items: center;
}
.grid-area1 .section-shopping .item-desc span + span::before {
  content: "";
  display: block;
  margin: 0 8px;
  width: 1px;
  height: 12px;
  background: #e2e5db;
}
.grid-area1 .section-shopping .price {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
  display: flex;
  margin-top: auto;
  line-height: 1;
}
.grid-area1 .section-shopping .image-box {
  width: 190px;
  margin-left: auto;
}
.grid-area1 .section-shopping .image-box img {
  width: 100%;
}
.grid-area1.section-event {
  grid-template-rows: 890px;
  max-width: initial;
}
.grid-area1.section-event .left-area {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.grid-area1.section-event .left-area .event-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-area1.section-event .left-area .event-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  background-color: #f3f6fb;
}
.grid-area1.section-event .left-area .event-item a .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-area1.section-event .left-area .event-item a .text-box {
  text-align: center;
  padding: 24px 0 36px 0;
}
.grid-area1.section-event .left-area .event-item a .text-box .title {
  font-weight: bold;
  line-height: 20px;
  color: #111111;
}
.grid-area1.section-event .left-area .event-item a .text-box .time {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}
.grid-area1.section-event .left-area .more-event {
  display: block;
  background: #f4f6fb;
  border: 1px solid #f4f6fb;
  font-size: 14px;
  line-height: 14px;
  padding: 13px 14px 12px;
  border-radius: 12px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.grid-area1.section-event .left-area .more-event:hover {
  background: #dbe2f3;
}
.grid-area1.section-event .right-area {
  grid-column: span 3;
}
.grid-area1.section-event .right-area .event-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grid-area1.section-event .right-area .game::after {
  background-image: url("../assets/event_right1.png");
}
.grid-area1.section-event .right-area .regular_payment::after {
  background-image: url("../assets/event_right2.png");
}
.grid-area1.section-event .right-area .car::after {
  background-image: url("../assets/event_right3.png");
}
.grid-area1.section-event .right-area .insurance::after {
  background-image: url("../assets/event_right4.png");
}
.grid-area1.section-event .right-area .event-item {
  background-color: #f3f6fb;
  border-radius: 16px;
  padding: 32px 24px;
  height: 208px;
  position: relative;
}
.grid-area1.section-event .right-area .event-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 160px;
  height: 100%;
}
.grid-area1.section-event .right-area .event-item a {
  display: flex;
  align-items: center;
  position: relative;
}
.grid-area1.section-event .right-area .event-item a .text-box {
  z-index: 1;
}
.grid-area1.section-event .right-area .event-item a .text-box .mark {
  padding: 4px 8px 3px;
  border-radius: 28px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: #111111;
}
.grid-area1.section-event .right-area .event-item a .text-box .title {
  font-size: 24px;
  line-height: 26px;
  color: #111111;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 10px;
}
.grid-area1.section-event .right-area .event-item a .text-box .desc {
  color: #666;
  line-height: 1.1;
}
.grid-area1.section-event .right-area .event-item a .image-box {
  max-width: 160px;
}

.grid-area2 {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 25px;
}
.mobile .grid-area2 {
  display: none;
}

.section-findCard {
  display: none;
}
.mobile .section-findCard {
  display: block;
  margin-top: 52px;
}
.section-findCard .image-box {
  border-radius: 12px;
  overflow: auto;
}
.section-findCard .image-box img {
  width: 100%;
}

.section-finance.mobile {
  display: none;
}
.mobile .section-finance.mobile {
  display: block;
  margin-top: 52px;
}
.section-finance.mobile .mobile-headline::after {
  display: none;
}
.section-finance.mobile .finance-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section-finance.mobile .finance-item {
  display: flex;
  align-items: center;
  height: 92px;
  border-radius: 16px;
  background-color: #f4f6fb;
  padding: 0 24px;
}
.section-finance.mobile .finance-item a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-finance.mobile .finance-item .image-box {
  width: 36px;
}
.section-finance.mobile .finance-item .text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-finance.mobile .finance-item .title {
  font-size: 16px;
  font-weight: bold;
}
.section-finance.mobile .finance-item .desc {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.section-finance.mobile .finance-item .desc strong {
  font-weight: bold;
}
.section-finance.mobile .finance-item .desc span:nth-child(2) {
  display: flex;
  align-items: center;
}
.section-finance.mobile .finance-item .desc span:nth-child(2)::before {
  content: "";
  display: block;
  margin: 0 8px;
  width: 1px;
  height: 12px;
  background: #e2e5db;
}

.section-event.mobile {
  display: none;
  margin-top: 52px;
  padding: 43px 23px 76px 24px;
  border-radius: 12px;
  background: #e6ebff;
  position: relative;
}
.mobile .section-event.mobile {
  display: block;
}
.section-event.mobile .mobile-headline {
  font-size: 20px;
  line-height: 27px;
  color: #111111;
  margin: 0;
}
.section-event.mobile .mobile-headline::after {
  display: none;
}
.section-event.mobile::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 17px;
  right: 23px;
  background: url("../assets/new_2204_eve_banner.png") no-repeat;
  width: 120px;
  height: 122px;
  background-size: cover;
}

.section-notice,
.section-customer,
.section-board {
  border: 1px solid #e2e5eb;
  border-radius: 12px;
  padding: 32px 24px;
  box-sizing: border-box;
  height: 162px;
  grid-column: span 3;
}
.section-notice .title,
.section-customer .title,
.section-board .title {
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
}
.section-notice .title::after,
.section-customer .title::after,
.section-board .title::after {
  content: "";
  background: url("../assets/swiper_next_btn.png") no-repeat center/cover;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.section-notice .desc,
.section-customer .desc,
.section-board .desc {
  margin-bottom: 5px;
}

.section-notice .desc {
  max-width: 340px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-notice .date {
  color: #666;
  font-size: 14px;
}

.section-customer .service-list {
  display: flex;
  margin-top: 25px;
}
.section-customer .service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 10px;
  position: relative;
}
.section-customer .service-item:not(:last-child) a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 7px;
  width: 1px;
  height: 13px;
  background: #e2e5db;
}
.section-customer .service-item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
}
.section-customer .service-item.question::before {
  background: url("../assets/i_customer_qes.png") no-repeat center/contain;
}
.section-customer .service-item.email::before {
  background: url("../assets/i_customer_email.png") no-repeat center/contain;
}
.section-customer .service-item.tel::before {
  background: url("../assets/i_customer_tel.png") no-repeat center/contain;
}
.section-customer.mobile {
  display: none;
}
.mobile .section-customer.mobile {
  margin-top: 52px;
  display: block;
  border: 0;
  padding: 0;
  height: auto;
}
.mobile .section-customer.mobile .mobile-headline::after {
  display: none;
}
.section-customer.mobile .service-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-customer.mobile .service-item {
  background-color: #f4f6fb;
  color: #111;
  font-size: 14px;
  height: 42px;
  line-height: 42px;
  border-radius: 12px;
}
.section-customer.mobile .service-item::before {
  display: none;
}

.section-board .desc {
  color: #666666;
  margin-top: 2px;
}
.section-board .swiper {
  height: 100%;
}
.section-board .swiper a {
  display: block;
  height: 100%;
}
.section-board .swiper .title {
  font-size: 24px;
  color: #111111;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}
.section-board .swiper .bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.section-board .swiper .control-area {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}
.section-board .swiper .control-area .pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #dcdcdc;
  margin: 0 3px;
  opacity: 1;
}
.section-board .swiper .control-area .pagination .swiper-pagination-bullet-active {
  width: 16px;
  background: #2090ff;
  border-radius: 9.6px;
}
.section-board .swiper .control-area .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.section-board .swiper .control-area .autoplay {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  border-color: #dcdcdc;
  border-style: double;
  border-width: 0 0 0 6px;
  cursor: pointer;
}
.section-board .swiper .control-area .pause {
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-left: 5px solid #dcdcdc;
  margin-top: 4px;
  width: 6px;
  height: 6px;
  cursor: pointer;
}